<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="icon" th:href="@{/assets/favicon.png}" type="image/png" />

<title>[[ #{layout.titulo} ]]</title>
</head>

<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/"><i class="fas fa-book-open"></i>
				[[ #{layout.titulo} ]]</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor01" aria-controls="navbarColor01"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/libros">[[
							#{layout.libros} ]]</a></li>
				</ul>

				<ul class="navbar-nav ml-auto">
					<li sec:authorize="isAnonymous()"><a class="btn btn-info"
						href="/login">[[ #{accion.login} ]]</a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><a
						class="btn btn-info mr-2" href="/usuario">[[ #{usuario.dash}
							]]</a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
						<form th:action="@{/logout}" method="post">
							<a href="#" class="btn btn-danger"
								onclick="this.parentNode.submit();">[[ #{accion.logout} ]]</a>
						</form>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<footer th:fragment="footer">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a target="_blank" class="nav-link"
					style="display: flex; align-items: center;"
					href="https://www.github.com/romeramatias"><i
						class="fab fa-github fa-2x"></i> <span>&nbsp; Romera Matías</span>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li><a class="nav-link" th:href="@{/(lang=es)}">Español</a></li>
				<li><a class="nav-link" th:href="@{/(lang=en)}">Ingles</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>