<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="layout/layout :: head">

<title>Libros</title>
</head>
<body>
	<div>
		<header th:replace="layout/layout :: header"> </header>

		<div class="jumbotron mx-3 mt-3">

			<div>
				<div class="row">
					<div class="col">
						<div class="float-left">
							<h1>[[ #{libro.listado} ]]</h1>
						</div>
					</div>
					<div class="col">
						<div class="float-right">
							<a class="btn btn-info" th:href="@{/libros/agregar}">[[
								#{libro.crear} ]]</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">Total de libros TO-DO</div>
					<div class="col">Total de copias TO-DO</div>
					<div class="col">Prestamos activos TO-DO</div>
				</div>
			</div>

			<br>

			<div th:if="${libros != null and !libros.empty}">
				<table class="table table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">[[ #{libro.id} ]]</th>
							<th scope="col">[[ #{libro.titulo} ]]</th>
							<th scope="col">[[ #{libro.editorial} ]]</th>
							<th scope="col">[[ #{libro.year} ]]</th>
							<th scope="col">[[ #{autor.nombre} ]]</th>
							<th scope="col">[[ #{autor.pais} ]]</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">[[
								#{accion.editar} ]]</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">[[
								#{accion.eliminar} ]]</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">[[
								#{libro.copias} ]]</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="libro : ${libros}">
							<td th:text="${libro.idLibro}"></td>
							<td th:text="${libro.titulo}"></td>
							<td th:text="${libro.editorial}"></td>
							<td th:text="${libro.year}"></td>
							<td th:text="${libro.autor.nombre}"></td>
							<td th:text="${libro.autor.nacionalidad}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-success"
								th:href="@{/libros/editar/} + ${libro.idLibro}"><i
									class="far fa-edit"></i></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger"
								th:href="@{/eliminar/} + ${libro.idLibro}"><i
									class="fas fa-times"></i></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-primary"
								th:href="@{/libros/} + ${libro.idLibro} + @{/copias}">[[
									#{libro.copias} ]]</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${libros == null or libros.empty}">
				<p>[[ #{libro.lista-vacia} ]]</p>
			</div>

		</div>

		<br>

		<footer th:replace="layout/layout :: footer"> </footer>
	</div>
</body>
</html>