<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="layout/layout :: head">
<title>Modificar Libro</title>
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<div class="jumbotron mx-5 mt-5">


		<div>
			<div class="row">
				<div class="col">
					<div class="float-left">
						<h1>[[#{libro.formulario}]]</h1>
					</div>
				</div>
				<div class="col">
					<div class="float-right">
						<a th:href="@{/libros}" class="btn btn-outline-info">[[
							#{accion.volver} ]]</a>

					</div>
				</div>
			</div>
		</div>

		<hr>

		<form th:action="@{/libros/guardar}" method="post"
			th:object="${libro}">
			<div class="form-group">
				<label for="inputEmail4">[[#{libro.titulo}]]</label> <input
					class="form-control" id="titulo" type="text" name="titulo"
					th:field="*{titulo}">
			</div>
			<div class="form-row">
				<div>
					<input type="hidden" name="idLibro" th:field="*{idLibro}">
				</div>
				<div class="form-group col-md-6">
					<label for="year">[[#{libro.year}]]</label> <input type="number"
						class="form-control" id="year" name="year" th:field="*{year}">

				</div>
				<div class="form-group col-md-6">
					<label for="editorial">[[#{libro.editorial}]]</label> <input
						type="text" class="form-control" id="editorial" name="editorial"
						th:field="*{editorial}">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="autor">[[#{libro.autor}]]</label> <select name="autor"
						class="form-control">
						<option th:each="autor : ${autores}" th:value="${autor.idAutor}"
							th:text="${autor.nombre}"></option>
					</select>

				</div>

				<div class="form-group col-md-6">
					<label for="tipo">[[#{libro.tipo}]]</label> <select name="tipo"
						class="form-control">
						<option
							th:each="tipoLib : ${T(edu.cap.biblioteca.model.TipoLibro).values()}"
							th:value="${tipoLib}" th:text="${tipoLib}"></option>
					</select>
				</div>
			</div>
			<hr>
			<button type="submit" class="btn btn-info col-lg">[[#{accion.guardar}]]</button>
		</form>
	</div>

	<br>
	<br>

	<footer th:replace="layout/layout :: footer"> </footer>
</body>
</html>