<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="layout/layout :: head">

<title>Login</title>
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<div class="login-form">
		<form th:action="@{/login}" method="post">
			<div class="avatar">
				<i class="fas fa-user-alt fa-5x"></i>
			</div>
			<h2 class="text-center">[[ #{login.welcome} ]]</h2>
			<h6 class="text-center pb-3" style="color: black">[[ #{login.dale} ]] 📚</h6>

			<div class="form-group">
				<input type="text" class="form-control" name="username"
					id="username" th:placeholder="#{login.username}"
					required="required">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password"
					id="password" th:placeholder="#{login.password}"
					required="required">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg btn-block">[[#{accion.login}]]</button>
			</div>
		</form>
	</div>

	<footer th:replace="layout/layout :: footer"> </footer>


</body>
</html>